{#
/**
 * @file
 * Stub implementation of browser toolbar.
 *.
#}
<div class="filter-container">
  <label>Filter and Sort</label>
  <a class="filter control-icon"><span class="screen-reader-text">Filter these results</span></a>
</div>
